{% extends 'base.html' %}
{% load static %}

{% block title %}Recicle! – Seja bem-vindo!{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/flowbite.min.css' %}">
{% endblock %}

{% block header %}
    {% include "includes/header.html" %}
{% endblock %}

{% block content %}
<!-- PRINCIPAL: inicio -->

<!-- CAROUSEL inicio -->
<div class="relative">
    <!-- Carousel wrapper -->
    <div class="overflow-hidden relative h-56 sm:h-64 xl:h-80 2xl:h-96">
        <!-- Item 1 -->
        <div id="carousel-item-1" class="duration-1000 ease-in-out">
            <span
                class="absolute top-1/2 left-1/2 text-2xl font-semibold text-white -translate-x-1/2 -translate-y-1/2 sm:text-3xl dark:text-gray-800">Primeiro
                Slide</span>
            <img src="{% static 'images/carousel/imagem-1.jpg' %}"
                class="block absolute top-1/2 left-1/2 w-full -translate-x-1/2 -translate-y-1/2" alt="...">
        </div>
        <!-- Item 2 -->
        <div id="carousel-item-2" class="hidden duration-1000 ease-in-out">
            <img src="{% static 'images/carousel/imagem-2.jpg' %}"
                class="block absolute top-1/2 left-1/2 w-full -translate-x-1/2 -translate-y-1/2" alt="...">
        </div>
        <!-- Item 3 -->
        <div id="carousel-item-3" class="hidden duration-1000 ease-in-out">
            <img src="{% static 'images/carousel/imagem-3.jpg' %}"
                class="block absolute top-1/2 left-1/2 w-full -translate-x-1/2 -translate-y-1/2" alt="...">
        </div>
    </div>
    <!-- Slider indicators -->
    <div class="flex absolute bottom-5 left-1/2 z-30 space-x-3 -translate-x-1/2">
        <button id="carousel-indicator-1" type="button" class="w-3 h-3 rounded-full" aria-current="true"
            aria-label="Slide 1"></button>
        <button id="carousel-indicator-2" type="button" class="w-3 h-3 rounded-full" aria-current="false"
            aria-label="Slide 2"></button>
        <button id="carousel-indicator-3" type="button" class="w-3 h-3 rounded-full" aria-current="false"
            aria-label="Slide 3"></button>
    </div>
    <!-- Slider controls -->
    <button id="data-carousel-prev" type="button"
        class="flex absolute top-0 left-0 z-30 justify-center items-center px-4 h-full cursor-pointer group focus:outline-none">
        <span
            class="inline-flex justify-center items-center w-8 h-8 rounded-full sm:w-10 sm:h-10 bg-white/30 dark:bg-gray-800/30 group-hover:bg-white/50 dark:group-hover:bg-gray-800/60 group-focus:ring-4 group-focus:ring-white dark:group-focus:ring-gray-800/70 group-focus:outline-none">
            <svg class="w-5 h-5 text-white sm:w-6 sm:h-6 dark:text-gray-800" fill="none" stroke="currentColor"
                viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 19l-7-7 7-7"></path>
            </svg>
            <span class="hidden">Previous</span>
        </span>
    </button>
    <button id="data-carousel-next" type="button"
        class="flex absolute top-0 right-0 z-30 justify-center items-center px-4 h-full cursor-pointer group focus:outline-none">
        <span
            class="inline-flex justify-center items-center w-8 h-8 rounded-full sm:w-10 sm:h-10 bg-white/30 dark:bg-gray-800/30 group-hover:bg-white/50 dark:group-hover:bg-gray-800/60 group-focus:ring-4 group-focus:ring-white dark:group-focus:ring-gray-800/70 group-focus:outline-none">
            <svg class="w-5 h-5 text-white sm:w-6 sm:h-6 dark:text-gray-800" fill="none" stroke="currentColor"
                viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7"></path>
            </svg>
            <span class="hidden">Next</span>
        </span>
    </button>
</div>
<!-- CAROUSEL: fim -->

<!-- SEÇÃO DE FUNÇÃO SOCIAL: inicio -->
<section class="my-10">
    <div class="container flex flex-col items-center mx-auto w-2/5">
        <img class="w-32" src="{% static 'images/lixo-eletronico.png' %}" alt="">
        <h2 class="py-3 text-4xl font-bold text-center">Conectamos você a diversos coletores da sua cidade!</h2>
        <p class="text-xl text-center">Saiba onde fazer o descarte ou doação próximo da sua casa, ou agende uma coleta a
            domicílio.</p>
    </div>
</section>
<!-- SEÇÃO DE FUNÇÃO SOCIAL: fim -->

<!-- SEÇÃO DE SERVIÇOS: inicio -->
<section class="my-10 pb-10">
    <div class="container mx-auto w-10/12">
        <div>
            <h2 class="text-4xl font-bold text-center pb-9 text-primary-color uppercase">Nossos serviços</h2>
        </div>

        <!-- CARTÕES DE SERVIÇO: inicio -->
        <div class="flex justify-evenly">

            <!-- CARD DE DESCARTAR: inicio -->
            <div class="border border-gray-200 rounded-xl drop-shadow-xl hover:drop-shadow-2xl w-1/2">
                <a href="{% url 'paginas:lista_descartar' %}">
                    <img src="{% static 'images/servico-descarte.png' %}" alt="">
                </a>
            </div>
            <!-- CARD DE DESCARTAR: fim -->

            <!-- CARD DE DOAR: inicio -->
            <div class="border border-gray-200 rounded-xl drop-shadow-xl hover:drop-shadow-2xl w-1/2">
                <a href="{% url 'paginas:lista_doar' %}">
                    <img src="{% static 'images/servico-doacao.png' %}" alt="">
                </a>
            </div>
            <!-- CARD DE DOAR: fim -->

        </div>
        <!-- CARTÕES DE SERVIÇO: fim -->

    </div>
</section>
<!-- SEÇÃO DE SERVIÇOS: fim -->

<!-- SEÇÃO DE TESTEMUNHOS: inicio -->
<section class="wy-10">
    <div class="container mx-auto w-1/2 flex flex-col justify-center items-center text-center">
        <div class="mb-3">
            <h2 class="text-4xl font-bold text-center text-primary-color py-3 uppercase">Testemunhos</h2>
            <p class="text-xl">Que nossos clientes falam de nós.</p>
        </div>

        <div class="overflow-hidden rounded-full my-6">
            <img class="w-32" src="{% static 'images/testemunho-joao.png' %}" alt="foto" />
        </div>

        <div>
            <blockquote class="italic px-7">
                Em minhas viagens tive contato com muitos locais poluidos, muitas
                vezes por baterias e eletronicos, o que mexeu comigo. Por isso, <span class="font-bold">estou
                    feliz de ter encontrado a plataforma Recicle! e agora poder descartar
                    esse material perigoso de forma segura para o meio ambiente</span>.
            </blockquote>
        </div>

        <div class="mt-3 self-end text-right text-xs">
            <h4 class="font-bold">João Alexandre S. Meneses</h4>
            <span>Servidor Publico Municipal</span>
        </div>
    </div>
</section>
<!-- SEÇÃO DE TESTEMUNHOS: fim -->

<!-- SEÇÃO DE POSTS: inicio -->
<section class="my-10">

    <div class="container mx-auto w-10/12">

        <div class="w-full text-center mb-3">
            <h2 class="text-4xl py-3 font-bold text-center text-primary-color uppercase">Conteúdos mais recentes</h2>
            <span class="text-xl">Materiais educativos, notícias e curiosidades.</span>
        </div>

        <!-- POSTAGENS: inicio -->
        <div class="w-full my-6 flex justify-between">

            <!-- POST #1: inicio -->
            <div class="max-w-sm bg-white rounded-lg border border-gray-200 shadow-md">
                <a href="{% url 'posts:post-1' %}">
                    <img class="rounded-t-lg w-100" src="{% static 'images/mobile-thumb.jpg' %}" alt="">
                </a>
                <div class="p-5">
                    <a href="{% url 'posts:post-1' %}">
                        <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900">O que é o lixo eletrônico</h5>
                    </a>
                    <p class="mb-3 font-normal text-gray-700">O Lixo Eletrônico possui muitos nomes, como e-lixo,
                        resíduos de equipamento ...</p>
                    <a href="{% url 'posts:post-1' %}"
                        class="inline-flex items-center py-2 px-3 text-sm font-medium text-center text-white bg-primary-color rounded-lg hover:bg-secondary-color focus:ring-4 focus:outline-none focus:hover:bg-secondary-color">
                        Continue lendo
                        <svg class="ml-2 -mr-1 w-4 h-4" fill="currentColor" viewBox="0 0 20 20"
                            xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd"
                                d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z"
                                clip-rule="evenodd"></path>
                        </svg>
                    </a>
                </div>
            </div>
            <!-- POST #1: fim -->

            <!-- POST #2: inicio -->
            <div class="max-w-sm bg-white rounded-lg border border-gray-200 shadow-md">
                <a href="{% url 'posts:post-2' %}">
                    <img class="rounded-t-lg w-100" src="{% static 'images/computadores-thumb.jpg' %}" alt="">
                </a>
                <div class="p-5">
                    <a href="{% url 'posts:post-2' %}">
                        <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900">10 Razões para reciclar o lixo
                            eletrônico</h5>
                    </a>
                    <p class="mb-3 font-normal text-gray-700">Segundo pesquisa da StEP (Solving the E-waste Problem),
                        organização criada pela Universidade das Nações Unidas (UNU) para criar .. ...</p>
                    <a href="{% url 'posts:post-2' %}"
                        class="inline-flex items-center py-2 px-3 text-sm font-medium text-center text-white bg-primary-color rounded-lg hover:bg-secondary-color focus:ring-4 focus:outline-none focus:hover:bg-secondary-color">
                        Continue lendo
                        <svg class="ml-2 -mr-1 w-4 h-4" fill="currentColor" viewBox="0 0 20 20"
                            xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd"
                                d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z"
                                clip-rule="evenodd"></path>
                        </svg>
                    </a>
                </div>
            </div>
            <!-- POST #2: fim -->

            <!-- POST #3: inicio -->
            <div class="max-w-sm bg-white rounded-lg border border-gray-200 shadow-md">
                <a href="{% url 'posts:post-3' %}">
                    <img class="rounded-t-lg w-100" src="{% static 'images/descartando-televisores.jpg' %}" alt="">
                </a>
                <div class="p-5">
                    <a href="{% url 'posts:post-3' %}">
                        <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900">Como descartar o lixo
                            eletrônico?</h5>
                    </a>
                    <p class="mb-3 font-normal text-gray-700">Ao descartar lixo eletrônico, não desmonte o produto.
                        Coloque-o no coletor, ou entregue ao catador, inteiro. ...</p>
                    <a href="{% url 'posts:post-3' %}"
                        class="inline-flex items-center py-2 px-3 text-sm font-medium text-center text-white bg-primary-color rounded-lg hover:bg-secondary-color focus:ring-4 focus:outline-none focus:hover:bg-secondary-color">
                        Continue lendo
                        <svg class="ml-2 -mr-1 w-4 h-4" fill="currentColor" viewBox="0 0 20 20"
                            xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd"
                                d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z"
                                clip-rule="evenodd"></path>
                        </svg>
                    </a>
                </div>
            </div>
            <!-- POST #3: fim -->

        </div>
        <!-- POSTAGENS: fim -->

    </div>
</section>
<!-- SEÇÃO DE POSTS: fim -->

<!-- PRINCIPAL: fim -->
{% endblock %}

{% block footer %}
    {% include "includes/footer.html" %}
{% endblock %}

{% block js %}
    <script src="{% static 'js/flowbite.js' %}"></script>
    <script src="{% static 'js/carousel.js' %}"></script>
{% endblock %}