{% extends 'base.html' %}
{% load static %}

{% block title %}Sobre - Recicle!{% endblock %}

{% block css %}
{% endblock %}

{% block header %}
{% include "includes/header.html" %}
{% endblock %}

{% block content %}
<!-- CONTEUDO PRINCIPAL inicio -->


<section class="mt-6 container mx-auto">
    <div>
        <div class="flex flex-col items-center">
            <img class="w-1/3 mb-9" src="{% static 'images/termos.png' %}" alt="">
            <h1 class="text-center text-3xl text-primary-color font-bold mb-6 uppercase">Termos de Uso</h1>
        </div>
    </div>
    <div class="text-justify mb-16 w-2/3 container mx-auto">

        <h2 class="text-2xl font-bold mb-3">Responsabilidade on-line</h2>

        <p>O Recicle defende a liberdade para troca de ideias, por isso acredita que comentários, opiniões e interações
            entre os usuários tornam o conteúdo do site mais completo e interessante. No entanto, certas conversas podem
            causar mal-entendidos. Para evitar transtornos ao internauta, apresentamos algumas regras para convivência
            on-line no ambiente do site. Seguindo esses passos, será possível estabelecer uma interação produtiva,
            saudável e baseada no respeito mútuo.</p>

        <h2 class="text-2xl font-bold mb-3">Identidade</h2>

        <p>Sempre forneça seus dados exatos e verdadeiros para a sua própria segurança. Essas informações são protegidas
            e
            não estão abertas à consulta, exceção feita às autoridades que obtiverem determinação judicial.
            Moderação</p>

        <p>Nós, do Recicle, oferecemos um espaço de discussão e troca de comentários sobre os conteúdos do site. Porém,
            acreditamos que os usuários devem se manifestar com responsabilidade e respeito às leis brasileiras para que
            ocorram trocas de informação relevantes e baseadas no respeito.</p>

        <p>Deste modo, textos, imagens ou quaisquer materiais em desacordo com tais preceitos poderão ser removidos do
            nosso endereço eletrônico.</p>

        <h2 class="text-2xl font-bold mb-3">Será considerada infração a publicação de conteúdo:</h2>

        <ol class="list-decimal">
            <li>Ilegal;</li>
            <li>Abusivo ou ameaçador;</li>
            <li>Pornográfico, malicioso, obsceno ou profano;</li>
            <li>Difamatório de qualquer natureza;</li>
            <li>Discriminatório de credo, raça, cor, condição física /social ou orientação sexual;</li>
            <li>De incitação à violência e/ou ao crime;</li>
            <li>Capaz de ferir a reputação de pessoas ou organizações;</li>
            <li>Que configure plágio ou produzido por terceiros, sem autorização para publicação;</li>
            <li>De propaganda política, produto ou serviço;</li>
            <li>Mensagens suspeitas de vírus, correntes ou links para sites suspeitos;</li>
            <li>Mensagens de autoria falsa, com conteúdo falso ou fraudulento ou que divulguem informações pessoais, por
                questões de segurança;</li>
            <li>Que viole o direito de propriedade de uma pessoa ou empresa;</li>
            <li>Por poder serem interpretados como agressão, não serão permitidos textos com caixa alta;</li>
            <li>Comentários fora do contexto da matéria publicada.</li>
        </ol>

        <h2 class="text-2xl font-bold mb-3">As consequências por infração a estas regras:</h2>

        <ul class="list-disc">
            <li>Nós, do Recicle, reservamo-nos o direito de eliminar, sem consulta, toda e qualquer mensagem que fira
                diretamente as regras acima estabelecidas;</li>
            <li>Caso haja qualquer dúvida ou sugestão sobre este Código de Conduta, entre em <a class="font-bold"
                    href="#">contato</a>.
            </li>
        </ul>

    </div>
</section>

<!-- CONTEUDO PRINCIPAL fim  -->
{% endblock %}

{% block footer %}
{% include "includes/footer.html" %}
{% endblock %}