{% load static %}
<!DOCTYPE html>
<html class="h-full min-h-full" lang="pt-br">
    
    <head>
        <meta charset="UTF-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <title>{% block title %}{% endblock %}</title>
        {% include "includes/favicon.html" %}
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        {% block css %}{% endblock %}
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>

    <body class="flex flex-col min-h-full">
        {% block header %}{% endblock %}
        {% block content %}{% endblock %}
        {% block footer %}{% endblock %}
        {% block js %}{% endblock %}
    </body>

</html>
